:root {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../../public/main-bg.jpg");
  --mainColor: #1c1c1c;
}

// .content {
//   max-width: 1140px;
//   margin: 0 auto;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   gap: 10px;
//   &.single-child {
//     grid-template-columns: 1fr;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//   }
// }
