.wrapper.modal {
  width: 400px;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 30px;
  font-weight: 500;
}
.wrapper-status {
  margin: 0 auto;
  max-width: 660px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 4px 10px;
  position: relative;
  backdrop-filter: blur(2px);
  border-color: #fff100;
  margin-bottom: 10px;
  & > :first-child {
    margin-bottom: 5px;
  }
  & > p {
    margin-top: 0;
    text-align: center;
  }
}
.player-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
}
